@mixin sectionHeader {

  font-size: 22px;
  font-family: $font-base;
  font-weight: 400;
  color: $color_main_font;
  padding: 64px 85px 80px 85px;
}

@mixin mainHeading {
  text-align: center;
  font-size: 36px;
  font-family: $font-alt;
  padding-top: 83px;
  padding-bottom: 34px;
  color: inherit;
}


//.activePage {
//  border: 1px solid black
//}

.WhoDoWeHelpHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    @include mainHeading
  }

}

.donateListDescription {
  text-align: left;

}

.donateListDonation {
  float: right;

  p {
    text-align: right;
  }
}

.whoDoWeHelpLinks {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  //margin: 0 auto;

  li {
    cursor: pointer;

    display: inline-block;
    list-style-type: none;
    border: 1px solid transparent;
    margin-right: 88px;


    &:hover {
      border: 1px solid #CECECE;
    }

    &.active{
      border: 1px solid #C2C2C2;
    }

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      a {
        padding: 35px 45px;
      }
    }

    a {
      display: inline-block;
      //margin: 47px 40px;
      padding: 15px 45px 20px 45px;
      text-decoration: none;
      font-size: 24px;


      p {
        color: $color_main_font;
        font-size: 24px;
      }
    }


  }

  //li .active {
  //  border: 1px solid $color_main_font;
  //  background-color: greenyellow;
  //}

}


.donationOrgList {
  padding: 30px 88px;


  .donateListDescription {

    h1 {
      font-weight: lighter;
      font-family: $font-alt;
      font-size: 26px;
    }

    p {
      text-align: left;
      line-height: 30px;

    }
  }

  p {

    color: $color_main_font;
    font-size: 18px;

    font-family: $font-alt;
    font-weight: lighter;
    font-style: italic;
  }

}

.pages {
  list-style: none;
  display: flex;
  margin: 0 auto;


  li {
    display: inline-block;
    margin-right: 20px;
    padding: 20px 15px;
    color: black;
    cursor: pointer;
    border: 1px solid transparent;

    //border: 1px solid transparent;

    &.activePage {
      border: 1px solid #C0C0C0;
    }


  }


}


.sectionHeader {

  @include sectionHeader

}

.line {
  border-bottom: 1px solid $color_main_font;
  margin: 0 72px;
}

.pagination {
  padding-top: 66px;
  padding-bottom: 140px;

}

