#homeContactUs {
  background-image: url("../assets/Background-Contact-Form.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contactForm {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  font-size: 18px;
  padding-bottom: 265px;


  input {
    border-color: transparent;
    border-bottom-color: #929292;
    background-color: transparent;
  }

  input[type="text"], input[type="email"] {
    margin-top: 10px;
    padding: 10px 10px;
    font-size: 18px;

    &::placeholder {
      color: #EEEEEE;
    }

  }


  //justify-content: center;
  //align-items: center;
  .formHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 66px;
    padding-top: 224px
  }

  #mainInfo {
    display: flex;
    flex-direction: row;

  }

  #formLeftCol {
    display: flex;
    flex-direction: column;
    //padding-left: 30px;
    padding-right: 10px;
  }

  #formRightCol {
    display: flex;
    flex-direction: column;
    //padding-right: 30px;
    padding-left: 10px;
  }

  #formMessage {
    padding-top: 43px;
  }

  #formTextarea {
    //padding-left: 30px;
    //padding-right: 30px;


    textarea {
      width: 100%;
      height: 109px;
      resize: none;
      border-color: transparent;
      border-bottom-color: #929292;
      padding: 10px 10px;
      margin: 21px 0 40px 0;
      background-color: transparent;

      &::placeholder {
        color: #EEEEEE;
      }
    }

  }

  input[type="submit"] {
    border: 1px solid #929292;
    padding: 15px 50px;

  }


}

.formHeader {
  & > h1 {
    @include mainHeading;
    padding-top: 0;
  }


}

.contactUsMainForm {

}

//footer
.footer {

  padding: 260px 100px 20px 100px;

  .social {
    float: right;

    img:first-child {
      margin-right: 22px;
    }
  }
}

#homeFooter {

  p {
    font-size: 16px;
    color: inherit;
  }
}


//pozniej zmienic padding

.form {
  padding: 0 100px;
}