@mixin formHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 224px;
}


#homeContactUs {
  background-image: url("../assets/Background-Contact-Form.jpg");

  background-size: cover;
  background-repeat: no-repeat;
}

.contactForm {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  font-size: 18px;
  padding-bottom: 265px;


  input {
    border-color: transparent;
    border-bottom-color: #929292;
    background-color: transparent;
  }

  input[type="text"], input[type="email"] {
    margin-top: 10px;
    padding: 10px 0;
    font-size: 18px;

    &::placeholder {
      color: #d1d1d1;
    }

  }


  //justify-content: center;
  //align-items: center;
  .formHeader {
    & > h1 {
      @include mainHeading;
      @include sectionHeading;
      padding-top: 0;
    }
    @include formHeader;

    margin-bottom: 66px;

  }

  .formHeaderSuccess {
    & > h1 {
      @include mainHeading;
      padding-top: 0;
    }
    @include formHeader;
    margin-bottom: 66px;
  }

  #mainInfo {
    display: flex;
    flex-direction: row;

  }

  #formLeftCol {
    display: flex;
    flex-direction: column;
    //padding-left: 30px;
    padding-right: 10px;
  }

  #formRightCol {
    display: flex;
    flex-direction: column;
    //padding-right: 30px;
    padding-left: 10px;
  }

  #formMessage {
    padding-top: 43px;
  }

  #formTextarea {
    //padding-left: 30px;
    //padding-right: 30px;
    margin: 21px 0 40px 0;

    textarea {
      width: 100%;
      height: 109px;
      resize: none;
      border-color: transparent;
      border-bottom-color: #929292;
      padding: 10px 0;
      //margin: 21px 0 40px 0;
      background-color: transparent;
      text-indent: -5px;
      overflow-y: hidden;

      &::placeholder {
        color: #d1d1d1;
        padding: 10px 0;
      }
    }

  }

  input[type="submit"] {
    border: 1px solid #929292;
    padding: 15px 50px;

  }


}

.formHeader {
  & > h1 {
    @include mainHeading;
    padding-top: 0;
  }


}

.contactUsMainForm {
  background-color: rgba(255, 255, 255, 0.8);
}

//footer
.footer {

  padding: 260px 100px 20px 100px;

  .social {
    float: right;

    img:first-child {
      margin-right: 22px;
    }
  }
}

#homeFooter {

  p {
    font-size: 17px;
    font-weight: 400;
    color: inherit;
  }
}


//pozniej zmienic padding

.form {
  padding: 0 100px;
}

.validateData {
  color: red;
  font-size: 12px;
  text-align: left;
  padding-top: 10px;
}

.successMessage {
  padding-top: 20px;

  p {
    font-size: 16px;
    color: #549f22;
    font-family: $font-base;
  }
}