#homeAboutUs {
  background-color: #F0F1F1;
}

.col-lg-6, .col-md-6 {
  padding: 0;
}
//
.homeAboutUsImage {
img {
float: right;
  //object-fit: contain;
  display: block;
  width: 100%;
  height: auto;
}

}

.homeAboutUsContent {
  padding: 197px 134px 132px 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  h1 {
    text-align: center;
    padding-bottom: 38px;
  }

  img {
    padding-bottom: 50px;
  }

  #imgSignature {
    //position: relative;
display: inline-block;

    img {
      //position: absolute;
      //right: 0;
      float: right;
      padding-top: 63px;
    }

  }

  & > p {
    font-size: 30px;
    color: $color_main_font;
    text-align: center;
    letter-spacing: -1px;

  }
}