#homeAboutUs {
  background-color: #F0F1F1;
}

.col-lg-6, .col-md-6 {
  padding: 0;
}
//
.homeAboutUsImage {
  background-image: url('../assets/People.jpg');
  //bgr-size:cover---dla duzych,
  //bgr-size:contain---> dla mniejszych
  //object-fit: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: auto;



}

@media (max-width: 1500px) {
  .homeAboutUsImage{
    background-size: cover;
  }
}

.homeAboutUsContent {
  padding: 197px 134px 132px 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;


  h1 {
    text-align: center;
    padding-bottom: 38px;
    @include sectionHeading;
  }

  img {
    padding-bottom: 50px;
  }

  #imgSignature {
    //position: relative;
display: inline-block;

    img {
      //position: absolute;
      //right: 0;
      float: right;
      padding-top: 63px;
    }

  }

  & > p {
    font-size: 30px;
    font-family: $font-alt;
    color: $color_main_font;
    text-align: center;
    letter-spacing: -1px;

  }
}